In [1]:
import pandas as pd
from data_generator_2 import RetailDataGenerator
from datetime import datetime
import boto3

In [2]:
customer_file = '/mnt/d/Projects/Project-2-End-to-End-Retail-Analytics-Pipeline/retail_data_v2/customers.parquet'
store_file = '/mnt/d/Projects/Project-2-End-to-End-Retail-Analytics-Pipeline/retail_data_v2/stores.parquet'
products_file = '/mnt/d/Projects/Project-2-End-to-End-Retail-Analytics-Pipeline/retail_data_v2/products.parquet'
fdfm_file = '/mnt/d/Projects/Project-2-End-to-End-Retail-Analytics-Pipeline/retail_data_v2/transactions_2025-01-01.parquet'

In [3]:
data = pd.read_parquet(customer_file)
data.columns.values.tolist()

['customer_id',
 'first_name',
 'last_name',
 'email',
 'phone',
 'address',
 'city',
 'state',
 'zip_code',
 'date_of_birth',
 'gender',
 'registration_date',
 'loyalty_member',
 'preferred_contact',
 'customer_segment',
 'total_lifetime_value']

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      15000 non-null  object
 1   product_name    15000 non-null  object
 2   category        15000 non-null  object
 3   subcategory     15000 non-null  object
 4   brand           15000 non-null  object
 5   price           15000 non-null  float64
 6   cost            15000 non-null  float64
 7   sku             12757 non-null  object
 8   description     10518 non-null  object
 9   weight          15000 non-null  float64
 10  dimensions      15000 non-null  object
 11  stock_quantity  15000 non-null  int64
 12  supplier        15000 non-null  object
 13  launch_date     15000 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 1.6+ MB

In [ ]:
'customer_id',
 'first_name',
 'last_name',
 'email',
 'phone',
 'address',
 'city',
 'state',
 'zip_code',
 'date_of_birth',
 'gender',
 'registration_date',
 'loyalty_member',
 'preferred_contact',
 'customer_segment',
 'total_lifetime_value'

,customer_id,first_name,last_name,email,phone,address,city,state,zip_code,date_of_birth,gender,registration_date,loyalty_member,preferred_contact,customer_segment,total_lifetime_value
0,CUST000001,Christopher,Weiss,None,(643)257-1651,"263 Bird Fort\nWilliamsmouth, OR 37720",Curtisbury,Tennessee,27269,1963-09-18,Other,2024-05-21,False,None,VIP,4936.47
1,CUST000002,Kevin,Webster,bgomez@example.net,None,"PSC 2601, Box 4484\nAPO AE 40018",East Justintown,New Jersey,03344,1971-11-19,Female,2023-08-21,False,Email,VIP,3294.33
2,CUST000003,Chad,Mccormick,None,(577)529-3261,"319 Jackson Manors\nJonathanfurt, GA 43896",Port Jeffrey,New Hampshire,91204,1957-09-28,Male,2025-07-03,False,Email,VIP,3051.36
3,CUST000004,Hannah,Davis,None,001-631-356-3555x123,None,None,Wisconsin,37806,1963-07-20,Female,2023-05-02,None,Phone,Budget,4395.41
4,CUST000005,Jennifer,Campbell,courtneyrobles@example.org,(779)297-3130,"12207 Jared Park\nPort Richard, LA 45933",None,Rhode Island,32639,1967-06-09,Male,2024-10-14,False,SMS,Budget,2058.64

In [6]:
data = pd.read_parquet('/mnt/c/Users/_/Downloads/customers.parquet')

In [8]:
data.head()

,customer_id,first_name,last_name,email,phone,address,city,state,zip_code,date_of_birth,gender,registration_date,loyalty_member,preferred_contact,customer_segment,total_lifetime_value
0,CUST000001,Christopher,Weiss,None,(643)257-1651,"263 Bird Fort\nWilliamsmouth, OR 37720",Curtisbury,Tennessee,27269,1963-09-18,Other,2024-05-21,False,None,VIP,4936.47
1,CUST000002,Kevin,Webster,bgomez@example.net,None,"PSC 2601, Box 4484\nAPO AE 40018",East Justintown,New Jersey,03344,1971-11-19,Female,2023-08-21,False,Email,VIP,3294.33
2,CUST000003,Chad,Mccormick,None,(577)529-3261,"319 Jackson Manors\nJonathanfurt, GA 43896",Port Jeffrey,New Hampshire,91204,1957-09-28,Male,2025-07-03,False,Email,VIP,3051.36
3,CUST000004,Hannah,Davis,None,001-631-356-3555x123,None,None,Wisconsin,37806,1963-07-20,Female,2023-05-02,None,Phone,Budget,4395.41
4,CUST000005,Jennifer,Campbell,courtneyrobles@example.org,(779)297-3130,"12207 Jared Park\nPort Richard, LA 45933",None,Rhode Island,32639,1967-06-09,Male,2024-10-14,False,SMS,Budget,2058.64